@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.link-div {
  text-align: right;
  margin-top: 15px;

}

.link {
  margin-right: 44px;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: #5D5D7D;

}

span:first-of-type {
  color: #5D5D7D;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.image-1 {
  position: absolute;
  right: 180px;
  top: 124px;
}


.image-2 {
  position: absolute;
  right: 0;
  top: 0;


}

.content {
  margin-left: 165px;
}

h1 {
  margin-top: 120px;
  margin-bottom: 15px;
  margin-right: 758px;
  margin-left: 138px;
  font-weight: 400;
  font-size: 70px;
  line-height: 80px;
  color: #5D5D7D;
}

p {
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  color: #5D5D7D;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-left: 137px;
  margin-right: 674px;
  margin-bottom: 15px;

}

button {
  width: 269px;
  height: 62px;
  background: #9499EA;
  box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 80px;
  margin-left: 136px;

}

@media screen and (max-width: 900px) {
  header {
    display: none;
  }

  .content-left {
    margin: 0;
    padding: 0;
    display: block;
    height: 50%;
    position: static;
    width: 100%;
    background-color: rgba(95, 95, 125, 0.16);

  }

  .content-right {
    margin: 0;
    padding: 0;
    display: block;
    position: static;
    text-align: center;
    height: 50%;

  }

  .image-1 {
    height: 322px;
    width: 271px;
    position: static;
    margin-left: 25px;
    padding: 40px;
  }

  .image-2 {
   display: none;
   

  }

  h1 {
    margin: 51px 74px 15px 68px;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;

  }

  p {
    margin: 0 39px 15px 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  button {
    margin: 0 54px 47px 52px;

  }
}